* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #f5f6fa;
    background-color: #1f8ab2;
    overflow: hidden;
    /* user-select: none; */
}
#wzor {
    opacity: 0;
}
.menu {
    height: 100vh;
    width: 100vw;
    z-index: 99;
    position: relative;
}
.logo {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 1000px;
    height: auto;
}
.napis {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    z-index: 99;
    width: 1000px;
}
.tlo {
    height: 100%;
    width: 100%;
    background-color: #ceedf3;
    z-index: 98;
    position: absolute;
}
.startAnimacja {
    display: none;
    z-index: 98;
    position: absolute;
    bottom: 100px;
    left: 50%;
    padding: 15px;
}
.kontynuuj.start {
    display: none;
    opacity: 0;
    z-index: 99;
    transform: translate(-50%, -200%);
}
.przygotowanie {
    opacity: 0;
    display: none;
    background-color: #e84118;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.gracz {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 500px;
    width: 350px;
    border-radius: 12px;
    box-shadow: -10px 0 30px #000;
    transition: 0.5s;
    background-color: #353b48;
}
.gracz:hover {
    transform: translateY(-10px);
}

.gracz:hover ~ .gracz {
    transform: translateX(130px);
}
.gracz:not(:first-child) {
    margin-left: -130px;
}
.aktywny {
    border: 3px solid #fad247;
    height: 600px;
    width: 420px;
}
.nr3,
.nr4,
.nr5,
.nr6 {
    display: none;
}
.dodaj {
    font-size: 280px;
}
.plansza {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 704px;
    width: 704px;
    background-color: #00497c;
    border: 2px solid #fad247;
    -webkit-box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 1);
    border-radius: 16px;
}
.pole {
    width: 60px;
    height: 80px;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: 10px 10px 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    position: relative;
}
.dolny {
    padding-top: 20px;
}
.gorny {
    padding-bottom: 20px;
}
.lewy,
.prawy {
    width: 80px;
    height: 60px;
    padding-left: 20px;
}
.lewy {
    clear: both;
    margin-right: 540px;
    padding: 0 20px 0 0;
}
.naroznik {
    width: 80px;
    height: 80px;
    padding: 20px 0 0 20px;
}
.poleKolor {
    position: absolute;
    width: 100%;
    height: 20px;
}
.dolny .poleKolor {
    border-bottom: 2px solid #000;
}
.lewy .poleKolor,
.prawy .poleKolor {
    height: 100%;
    width: 20px;
}
.lewy .poleKolor {
    right: 0;
    border-left: 2px solid #000;
}
.gorny .poleKolor {
    bottom: 0;
    border-top: 2px solid #000;
}
.prawy .poleKolor {
    left: 0;
    border-right: 2px solid #000;
}
.naroznik .poleKolor {
    width: 100%;
    height: 100%;
}
.naroznik#p0,
#p0 .poleKolor {
    border-bottom-right-radius: 16px;
}
.naroznik#p10,
#p10 .poleKolor {
    border-bottom-left-radius: 16px;
}
.naroznik#p20,
#p20 .poleKolor {
    border-top-left-radius: 16px;
}
.naroznik#p30,
#p30 .poleKolor {
    border-top-right-radius: 16px;
}
.pionek {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 99;
}

#powiekszenie {
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e84118;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
#okienko,
#okno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f6fa;
    height: 300px;
    width: 500px;
    border: 5px solid #fad247;
    border-radius: 10px;
    visibility: hidden;
    color: #00497c;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 1);
}
#okno ol {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#okno ol li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    flex: 0 40%;
    box-shadow: inset 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
}
#okienko h1,
#okienko h3,
#okno h1,
#okno h3 {
    text-align: center;
}
#okno {
    height: 500px;
    -webkit-box-shadow: 0px 0px 50px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px 6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px 6px rgba(0, 0, 0, 1);
}
.tytul {
    background-color: #fad247;
    padding-bottom: 5px;
    color: #fff;
}
#okienko .tytul {
    color: #fff;
}

.oferta {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: row wrap;
}
.ofertaL,
.ofertaP {
    flex: 1 45%;
    margin: 20px 10px 0 10px;
}
.kontynuuj {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    padding: 10px;
    font-size: 22px;
    font-weight: 900;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    background-color: #00497c;
    color: #fad247;
    box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.kontynuuj::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 8px rgba(250, 210, 71, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.kontynuuj:not(.nieaktywny):hover::after {
    opacity: 1;
}
.kontynuuj:not(.nieaktywny):hover {
    color: #00497c;
    background-color: #fad247;
}
.informacje {
    width: 100%;
    display: flex;
    padding: 20px;
}
.informacja {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75px;
    height: 80px;
    color: #fff;
    flex: 0 30%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
}
.informacja h1,
.informacja h3 {
    z-index: 5;
}
h1.numer {
    font-size: 48px;
    z-index: 10;
    margin-left: 10px;
}
.informacja.stanKonta {
    background-color: #64a100;
    display: flex;
    justify-content: center;
    font-size: 24px;
    flex: 1;
    margin-right: 20px;
}
.informacja.obecnePole {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.informacja.licytator {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    background-color: #00497c;
    line-height: 0;
}
.informacja .dodatkowa {
    font-size: 14px;
}
.informacja.wylosowano {
    flex: 1;
    background-color: #1f8ab2;
    margin-right: 20px;
    flex-direction: column;
}
.informacja.kosci {
    flex: 1;
    background-color: #00497c;
}
.przyciski {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
.przycisk {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00497c;
    text-align: center;
    color: #f5f6fa;
    width: 25%;
    height: 80px;
    flex: 1;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    transition-property: background-color, color;
}
.przycisk h3 {
    z-index: 5;
    font-size: 22px;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.6);
}
.przycisk.akcja:first-child {
    background-color: #00497c;
}
.przycisk.akcja:last-child {
    margin-right: 0;
    background-color: #72c5dd;
}
.przycisk.akcja:nth-child(2) {
    background-color: #1f8ab2;
}
.przycisk.kwota:last-child {
    margin-right: 0;
    background-color: #1f8ab2;
}
.przycisk:not(.nieaktywny):hover {
    color: #00497c;
    background-color: #fad247;
}
.przycisk:not(.nieaktywny):hover h3 {
    text-shadow: none;
}
.przycisk:not(.nieaktywny):hover .ikona {
    color: #d8b025;
}
.przycisk.akcja#kup {
    flex-direction: column;
}
.przycisk.zarzadzaj {
    flex-direction: column;
}
.nieaktywny {
    cursor: default;
    background-color: #ee1919 !important;
    color: #fad247;
}
.nieaktywny .ikona {
    color: #bb0000 !important;
}
.ikona {
    font-size: 56px;
    position: absolute;
    transition: color 0.3s ease-in-out;
}
.ikona.akcja.rzut,
.ikona.akcja.zakup,
.ikona.dolar,
.ikona.czlowiek {
    color: #337caf;
}
.ikona.akcja.zarzadzaj,
.ikona.akcja.licytacja,
.ikona.akcja.zakonczenie {
    color: #00577f;
}
.ikona.akcja.wymiana {
    color: #3f92aa;
}
.ikona.pieniadze {
    color: #316e00;
}
.kartaTekst {
    background-color: #ceedf3;
    margin: 20px;
    padding: 10px;
    height: 40%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
}
.posiadane {
    overflow-y: auto;
    height: 40%;
    padding-left: 20px;
    margin: 20px 20px 20px 0;
}
.posiadany {
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #ceedf3;
    margin-right: 10px;
}
.posiadany .kolor {
    height: 100%;
    width: 100px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.posiadany .nazwa {
    width: 150px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

.guzik {
    margin: 0;
    width: 15%;
    height: 32px;
    background-color: #00497c;
    text-align: center;
    color: #f5f6fa;
    cursor: pointer;
    flex: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.guzik:not(.nieaktywny):hover {
    background-color: #fad247;
    color: #00497c;
    box-shadow: 0px 0px 16px 2px rgba(250, 210, 71, 1);
}
.guziki {
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.oferta select {
    font-size: 1.17em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    height: 25px;
    color: #ee1919;
}
.oferta .guziki {
    flex-flow: row wrap;
    margin: 0 0 10px 0;
}
.oferta .guziki > .guzik {
    flex: 1 45%;
    margin: 10px 0 0 0;
}
#ofertaL1,
#ofertaL50,
#ofertaP1,
#ofertaP50 {
    margin-right: 5px;
}
.kontynuuj.oferuj {
    width: 100%;
    position: static;
    transform: translate(0, 0);
    flex: 1 45%;
}
.czerwony {
    color: #ee1919;
}
