* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #f5f6fa;
    background-color: #1f8ab2;
    /* user-select: none; */
}
#wzor {
    opacity: 0;
}
.menu {
    height: 100vh;
    width: 100vw;
    z-index: 99;
    position: relative;
}
.logo {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 1000px;
    height: auto;
}
.napis {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -110%);
    z-index: 99;
    width: 1000px;
}
.tlo {
    height: 100vh;
    width: 100vw;
    background-color: #ceedf3;
    z-index: 98;
    position: relative;
}
.przygotowanie {
    opacity: 0;
    display: none;
    background-color: #e84118;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.gracz {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 500px;
    width: 350px;
    border-radius: 12px;
    box-shadow: -10px 0 30px #000;
    transition: 0.5s;
    background-color: #353b48;
}
.gracz:hover {
    transform: translateY(-10px);
}

.gracz:hover ~ .gracz {
    transform: translateX(130px);
}
.gracz:not(:first-child) {
    margin-left: -130px;
}
.aktywny {
    border: 3px solid #fad247;
    height: 600px;
    width: 420px;
}
.nr3,
.nr4,
.nr5,
.nr6 {
    display: none;
}
.dodaj {
    font-size: 280px;
}
.plansza {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 704px;
    width: 704px;
    background-color: #00497c;
    border: 2px solid #fad247;
    -webkit-box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 1);
    border-radius: 16px;
}
.pole {
    width: 60px;
    height: 80px;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: 10px 10px 10px 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    position: relative;
}
.pole::before {
    content: '';
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.naroznik {
    width: 80px;
    height: 80px;
}
.naroznik#p0 {
    border-bottom-right-radius: 16px;
}
.naroznik#p10 {
    border-bottom-left-radius: 16px;
}
.naroznik#p20 {
    border-top-left-radius: 16px;
}
.naroznik#p30 {
    border-top-right-radius: 16px;
}
.lewy,
.prawy {
    width: 80px;
    height: 60px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}
.lewy::before {
    content: '';
    grid-row: 1 / 3;
    grid-column: 4 / 6;
}
.gorny::before {
    content: '';
    grid-row: 4 / 6;
    grid-column: 1 / 2;
}
.prawy::before {
    content: '';
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.lewy {
    clear: both;
    margin-right: 540px;
}
#powiekszenie {
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e84118;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
#okienko,
#okno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f6fa;
    height: 300px;
    width: 500px;
    border: 5px solid #fad247;
    border-radius: 10px;
    visibility: hidden;
    color: #00497c;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 1);
}
#okno ol {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#okno ol li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    flex: 0 40%;
    box-shadow: inset 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
}
h1.numer {
    font-size: 48px;
    z-index: 10;
}
#okienko h1,
#okienko h3,
#okno h1,
#okno h3 {
    text-align: center;
}
#okno {
    height: 500px;
    -webkit-box-shadow: 0px 0px 50px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px 6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 50px 6px rgba(0, 0, 0, 1);
}
.tytul {
    background-color: #fad247;
    padding-bottom: 5px;
}
#okienko .tytul {
    color: #fff;
}

.oferta,
.zakup {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: row wrap;
}
.ofertaL,
.ofertaP {
    flex: 1 45%;
    margin: 20px 10px 0 10px;
}

.kontynuuj {
    position: relative;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    padding: 10px;
    font-size: 22px;
    font-weight: 900;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    background-color: #00497c;
    color: #fad247;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}
.kontynuuj::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 8px rgba(250, 210, 71, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.kontynuuj:not(.nieaktywny):hover::after {
    opacity: 1;
}
.kontynuuj:not(.nieaktywny):hover {
    color: #00497c;
    background-color: #fad247;
}
.nieaktywny {
    cursor: default;
    background-color: #ee1919;
    color: #fad247;
}
.informacje {
    width: 100%;
    display: flex;
    padding: 20px;
}
.informacja {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75px;
    height: 75px;
    color: #fff;
    flex: 0 30%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
}
.informacja.stanKonta {
    background-color: #64a100;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    flex: 1;
    margin-right: 20px;
}
.informacja.obecnePole {
    flex: 2;
}
.informacja h3 {
    z-index: 5;
}
.przyciski {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
.przycisk {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00497c;
    text-align: center;
    color: #f5f6fa;
    width: 25%;
    height: 75px;
    flex: 1;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    transition-property: background-color, color;
}
.przycisk h3 {
    z-index: 5;
    font-size: 22px;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.6);
}
.przycisk.akcja:first-child {
    background-color: #00497c;
}
.przycisk.akcja:nth-child(2) {
    background-color: #1f8ab2;
}
.przycisk.akcja:last-child {
    margin-right: 0;
    background-color: #72c5dd;
}
.przycisk:not(.nieaktywny):hover {
    color: #00497c;
    background-color: #fad247;
}
.przycisk:not(.nieaktywny):hover h3 {
    text-shadow: none;
}
.przycisk:not(.nieaktywny):hover .ikona {
    color: #d8b025;
}
.ikona {
    font-size: 56px;
    position: absolute;
    transition: color 0.3s ease-in-out;
}
.ikona.akcja.rzut {
    color: #337caf;
}
.ikona.akcja.zarzadzaj {
    color: #00577f;
}
.ikona.akcja.wymiana {
    color: #3f92aa;
}
.ikona.pieniadze {
    color: #316e00;
}

.guzik {
    margin: 0;
    width: 15%;
    height: 32px;
    background-color: #00497c;
    text-align: center;
    color: #f5f6fa;
    cursor: pointer;
    flex: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.guzik:not(.nieaktywny):hover {
    background-color: #fad247;
    color: #00497c;
    box-shadow: 0px 0px 16px 2px rgba(250, 210, 71, 1);
}
.guziki {
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.oferta select {
    font-size: 1.17em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    height: 25px;
    color: #ee1919;
}
.oferta .guziki {
    flex-flow: row wrap;
    margin: 0 0 10px 0;
}
.oferta .guziki > .guzik {
    flex: 1 45%;
    margin: 10px 0 0 0;
}
#ofertaL1,
#ofertaL50,
#ofertaP1,
#ofertaP50 {
    margin-right: 5px;
}
.kontynuuj.oferuj,
.zakup .kontynuuj {
    width: 100%;
    position: static;
    transform: translate(0, 0);
    flex: 1 45%;
}
.zakup .kontynuuj {
    margin: 50px 5px;
}
.guzik.kwota {
    font-size: 20px;
}
h3.licytator,
h3.zaklad {
    margin: 10px 0 0 10px;
}
.czerwony {
    color: #ee1919;
}
